## .NET Build Artifacts
bin/
obj/
*.user
*.suo
.vs/
_ReSharper*/
*.DotSettings.user

## NuGet
*.nupkg
*.snupkg
packages/
!**/packages/repositories.config
*.lock.json

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/
*.sln.iml

## OS
.DS_Store
Thumbs.db
/src/VolumeAssistant.Service/obj/project.assets.json
/src/VolumeAssistant.Service/obj/project.nuget.cache
/src/VolumeAssistant.Service/obj/VolumeAssistant.Service.csproj.nuget.dgspec.json
/tests/VolumeAssistant.Tests/obj/project.assets.json
/tests/VolumeAssistant.Tests/obj/project.nuget.cache
/tests/VolumeAssistant.Tests/obj/VolumeAssistant.Tests.csproj.nuget.dgspec.json
